body {
    background-color: lightgrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue;
}

h1 {
    font-family: verdana;
    font-size: 300%;
    text-align: center;
    border: 2px solid Violet;
}

p {
    color: red;
}